<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://linebotazurefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/60f35e4e-02a8-44a2-bcff-a7dd43efde94/resourceGroups/FreeResourceGroup/providers/Microsoft.Web/sites/LineBotAzureFunction</ResourceId>
    <UserName>$LineBotAzureFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://linebotazurefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>